.cover {
  display: inline-block;
  width: 100vw;
  height: 360px;
  // background-image: url('../../assets/stunning-little-flowers-facebook-cover.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: -21.5%;
}
