.corporateInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  cursor: pointer;

  .headline {
    color: white;
    font-size: 16px;
    font-weight: 700;
    max-width: 150px;
    margin-left: 20px;
    height: 60%;
  }
}

.glanceContainer {
  display: flex;
  align-items: center;
  height: 200px;
  background-image: url('../../../assets/v_global.png');
  background-repeat: no-repeat;
  background-size: cover;

  .glance {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 10px;

    .glanceItemWrapper {
      .glanceItem {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-weight: bold;

        .keyValue {
          display: flex;
          font-size: 50px;
          color: #004098;
          margin-bottom: 6px;

          .value {
            margin-bottom: -6px;
          }

          .unit {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .glanceContainer {
    height: 400px;
    margin-top: 3rem;

    .glance {
      flex-wrap: wrap;

      .glanceItemWrapper {
        width: 45%;
        margin-bottom: 15px;

        .glanceItem {
          justify-content: space-between;
        }
      }
    }
  }
}
