.postMessageContainer {
  position: absolute;
  bottom: 0;
  right: 11%;
  background-color: rgb(0, 0, 0, 0.33);
  width: 48%;
  height: 83%;
  font-weight: bold;

  .postMessage {
    color: white;
    margin-top: 8%;
    margin-left: 5%;
  }
}
